/* block elements */

/* paragraph spacing */
p {
  margin: 0 0 var(--paragraph-margin-bottom, var(--block-element-margin-bottom, 1rem));
  padding: 0;
}

/* address spacing */
address {
  margin-bottom: var(--address-margin-bottom, var(--block-element-margin-bottom, 1rem));
  font-style: normal;
  line-height: inherit;
}
