/* details/summary */

details {
  margin-bottom: var(--block-element-margin-bottom, 1rem);
}

summary {
  display: list-item;
  &:focus {
    box-shadow: 0 0 0 var(--outline-width, 0.2rem) var(--outline-color, hsl(210, 100%, 85%));
    outline: none;
  }
}
