/* global font settings */

/*
custom media queries
should match corresponding variables with px unit
*/
@custom-media --hiq-lower-font-range (min-width: 460px);
@custom-media --hiq-upper-font-range (min-width: 900px);

html {
  /* prevent adjustments of font size after orientation changes on some mobile devices */
  -webkit-text-size-adjust: 100%;

  /* text rendering */
  text-rendering: var(--hiq-text-rendering, optimizeLegibility);

  /* base font family */
  font-family: var(--hiq-font-family-base, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif);

  /* base font size */
  font-size: calc(var(--hiq-unitless-min-font-size, 15) * 1px);

  /* responsive font size calculation */
  @media (--hiq-lower-font-range) {
    font-size: calc((var(--hiq-unitless-min-font-size, 15) * 1px) + (calc(var(--hiq-unitless-max-font-size, 16) - var(--hiq-unitless-min-font-size, 15))) * (calc(100vw - (var(--hiq-unitless-lower-font-range, 460) * 1px))) / (calc(var(--hiq-unitless-upper-font-range, 900) - var(--hiq-unitless-lower-font-range, 460))));
  }

  /* set upper font range limit */
  @media (--hiq-upper-font-range) {
    font-size: calc(var(--hiq-unitless-max-font-size, 16) * 1px);
  }

  /* base font weight */
  font-weight: var(--hiq-font-weight-base, var(--hiq-font-weight-normal, 400));

  /* base letter spacing */
  letter-spacing: var(--hiq-letter-spacing-base, 0);

  /* base line height */
  line-height: var(--hiq-line-height-base, 1.5);
}

/* allow text alignment to be inherited */
body {
  text-align: left;

  /* text color */
  color: var(--hiq-text-color, var(--hiq-color-gray-2, hsl(220, 10%, 10%)));
}
