/* horizontal rules */

hr {
  box-sizing: content-box;
  height: var(--horizontal-rule-height, 1px);
  overflow: visible;
  margin-top: var(--horizontal-rule-margin-vertical, 1rem);
  margin-bottom: var(--horizontal-rule-margin-vertical, 1rem);
  padding: 0;
  border: 0;
  background-color: var(--horizontal-rule-color, var(--border-color, var(--gray-lighter, hsl(220, 10%, 90%))));
}
