/* horizontal rules */

hr {
  box-sizing: content-box;
  height: var(--hiq-horizontal-rule-height, 1px);
  overflow: visible;
  margin-top: var(--hiq-horizontal-rule-margin-vertical, 1rem);
  margin-bottom: var(--hiq-horizontal-rule-margin-vertical, 1rem);
  padding: 0;
  border: 0;
  background-color: var(--hiq-horizontal-rule-color, var(--hiq-gray-lighter, hsl(220, 10%, 90%)));
}
