/* `sub` & `sup` elements */

/*
prevent `sub` and `sup` elements from affecting the line height in all browsers.
source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
