/* button styling */
button,
[role="button"],
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: inline-flex;
  align-items: center;
  width: auto;
  height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--text-color);
  background-color: var(--gray-lighter);
  transition: background-color var(--speed) var(--easing);
  cursor: pointer;
  &:not(:disabled):hover {
    color: var(--text-color);
    background-color: color(#f2f2f2 shade(15%)); /* eventually use custom property here */
  }
  &:focus {
    background-color: var(--gray-light);
  }
  &:visited {
    color: var(--text-color);
  }
  &:disabled {
    color: var(--disabled-color);
    background-color: var(--gray-lightest);
    cursor: not-allowed;
  }
}
