/* button styling */
:root {
  --button-hover-color: color(hsl(0, 0%, 75%) shade(15%)); /* eventually use custom property here */
}

@define-mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: var(--border-radius);
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
  color: var(--text-color);
  background-color: var(--gray-lighter);
  transition: background-color var(--speed) var(--easing);
  cursor: pointer;
  &:hover {
    color: var(--text-color);
    background-color: var(--button-hover-color);
  }
  &:focus {
    background-color: var(--gray-light);
  }
  &:visited {
    color: var(--text-color);
  }
  &:disabled {
    color: var(--disabled-color) !important;
    background-color: var(--gray-lightest) !important;
    cursor: not-allowed;
  }
}

button,
[role='button'],
input[type='submit'],
input[type='button'],
input[type='reset'] {
  @mixin button;
}
