body {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color var(--speed) var(--easing);
  cursor: pointer;
  &:hover {
    color: var(--link-hover-color);
  }
  &:active {
    color: color(blue shade(50%));
  }
  &:visited {
    color: var(--link-visited-color);
  }
}

mark {
  background-color: var(--mark-color);
}
