/* applying color variables */
body {
  color: var(--text-color);
  background-color: var(--page-background-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color var(--speed) var(--easing);
  cursor: pointer;
  &:hover {
    color: var(--link-hover-color);
  }
  &:active {
    color: var(--link-active-color);
  }
}

mark {
  background-color: var(--mark-color);
}
