/* general form styling */
fieldset {
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  & legend {
    margin-bottom: 1rem;
    font-weight: var(--font-weight-bold);
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-bold);
}

input,
select,
textarea {
  outline: 0;
}

/* text input styling */
input[type='text'],
input[type='password'],
input[type='url'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime-local'],
input[type='color'] {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.75rem;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  &::placeholder {
    color: var(--gray);
  }
  &:focus {
    border: 1px solid var(--color-primary);
  }
  &:disabled {
    border-color: var(--gray-lighter);
    cursor: not-allowed;
  }
  &:disabled::placeholder {
    color: var(--disabled-color);
  }
}

textarea {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  &::placeholder {
    color: var(--gray);
  }
  &:focus {
    border: 1px solid var(--color-primary);
  }
  &:disabled {
    border-color: var(--gray-lighter);
    cursor: not-allowed;
  }
  &:disabled::placeholder {
    color: var(--disabled-color);
  }
}

/* select element styling */
select {
  display: block;
  position: relative;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.75rem;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2230px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2030%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-137.000000%2C%20-145.000000%29%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%22152%20161%20137%20145%20167%20145%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
  &:focus {
    border: 1px solid var(--color-primary);
  }
  &:disabled {
    color: var(--disabled-color);
    cursor: not-allowed;
  }
}

/* checkbox styling */
.checkbox {
  position: relative;
  & label {
    position: relative;
    padding: 0 2rem;
    font-weight: var(--font-weight-normal);
    cursor: pointer;
  }
  & label::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: var(--gray-lighter);
    transition: background-color var(--speed) var(--easing);
    content: '';
  }
}

.checkbox input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  &:focus + label::before {
    background-color: var(--gray-light);
  }
  &:checked + label::before {
    background-color: var(--color-primary) !important;
  }
  &:checked + label::after {
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    content: '';
  }
  &:disabled + label {
    color: var(--disabled-color);
    cursor: not-allowed;
  }
  &:disabled + label::before {
    background-color: var(--gray-lightest);
  }
}

/* radio button styling */
.radio {
  position: relative;
  & label {
    position: relative;
    padding: 0 2rem;
    font-weight: var(--font-weight-normal);
    cursor: pointer;
  }
  & label::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--gray-lighter);
    transition: background-color var(--speed) var(--easing);
    content: '';
  }
}

.radio input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  &:focus + label::before {
    background-color: var(--gray-light);
  }
  &:checked + label::before {
    background-color: var(--color-primary) !important;
  }
  &:checked + label::after {
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    content: '';
  }
  &:disabled + label {
    color: var(--disabled-color);
    cursor: not-allowed;
  }
  &:disabled + label::before {
    background-color: var(--gray-lightest);
  }
}

/* meter element styling – currently only works in Webkit browsers and Firefox */
meter {
  -webkit-appearance: meter;
  width: 100%;
  background: var(--gray-lighter);
  &::-webkit-meter-bar {
    background: var(--gray-lighter);
  }
  &::-moz-meter-bar {
    background: var(--gray-lighter);
  }
  &::-webkit-meter-optimum-value {
    background: var(--color-primary);
  }
  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--color-primary);
  }
}

/* progress element styling */
progress {
  &[value] {
    width: 100%;
    height: 1rem;
  }
  &::-webkit-progress-bar {
    background-color: var(--gray-lighter);
  }
  &::-webkit-progress-value {
    background-color: var(--color-primary);
  }
  &::-moz-progress-bar {
    background-color: var(--color-primary);
  }
}

/* range input styling */

/* range input utility variables */
:root {
  --range-input-thumb-width: 24px;
  --range-input-thumb-height: 24px;
  --range-input-thumb-border-radius: 50%;
  --range-input-thumb-background: var(--gray);
  --range-input-track-width: 100%;
  --range-input-track-height: 10px;
  --range-input-track-background: var(--gray-lighter);
  --range-input-track-focus-background: var(--gray-light);
}

input[type=range] {
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  width: var(--range-input-thumb-width);
  height: var(--range-input-thumb-height);
  margin-top: -7px;
  border-color: transparent;
  border-radius: var(--range-input-thumb-border-radius);
  background-color: var(--range-input-thumb-background);
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: var(--range-input-track-focus-background);
}

input[type=range]::-moz-range-thumb {
  width: var(--range-input-thumb-width);
  height: var(--range-input-thumb-height);
  border-color: transparent;
  border-radius: var(--range-input-thumb-border-radius);
  background-color: var(--range-input-thumb-background);
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  width: var(--range-input-thumb-width);
  height: var(--range-input-thumb-height);
  border-color: transparent;
  border-radius: var(--range-input-thumb-border-radius);
  background-color: var(--range-input-thumb-background);
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: var(--range-input-track-width);
  height: var(--range-input-track-height);
  background-color: var(--range-input-track-background);
  transition: background-color var(--speed) var(--easing);
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: var(--range-input-track-width);
  height: var(--range-input-track-height);
  background-color: var(--range-input-track-background);
  transition: background-color var(--speed) var(--easing);
  cursor: pointer;
}

input[type=range]:focus::-moz-range-track {
  background-color: var(--range-input-track-focus-background);
}

input[type=range]::-ms-track {
  width: var(--range-input-track-width);
  height: var(--range-input-track-height);
  border-width: var(--range-input-thumb-height);
  border-color: transparent;
  color: transparent;
  background-color: transparent;
  transition: background-color var(--speed) var(--easing);
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background-color: var(--range-input-track-background);
}

input[type=range]:focus::-ms-fill-lower {
  background-color: var(--range-input-track-focus-background);
}

input[type=range]::-ms-fill-upper {
  background-color: var(--range-input-track-background);
}

input[type=range]:focus::-ms-fill-upper {
  background-color: var(--range-input-track-focus-background);
}

/* file input styling */
input[type='file'] {
  @mixin visually-hidden;
}

input[type='file'] + label {
  @mixin button;
  font-weight: normal;
}

/* color input styling */
input[type='color'] {
  width: 2.5rem;
  padding: 0;
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    border: none;
    border-radius: 0;
  }
}
