/* reset */
@import 'blanq-slate/blanq-slate.css';

/* custom properties */
@import 'variables.postcss';

/* utility classes */
@import 'utility.postcss';

/* base styles */
@import 'structure.postcss';
@import 'typography.postcss';
@import 'color.postcss';

/* element styles */
@import 'buttons.postcss';
@import 'tables.postcss';
@import 'forms.postcss';
