/* reset */
@import 'blanq-slate/blanq-slate.css';

/* custom properties */
@import 'variables.css';

/* utility classes */
@import 'utility.css';

/* base styles */
@import 'structure.css';
@import 'typography.css';
@import 'color.css';

/* element styles */
@import 'buttons.css';
@import 'tables.css';
@import 'forms.css';
