/* use variables from 'utility/variables.pcss' to customize */

/* utilities from 'utility/controls.pcss' are imported into individual components */

/* display utilities */
@import 'utility/display.pcss';

/* base */
@import 'base/structure.pcss';
@import 'base/typography.pcss';

/* elements */
@import 'elements/buttons.pcss';
@import 'elements/code.pcss';
@import 'elements/forms.pcss';
@import 'elements/media.pcss';
@import 'elements/tables.pcss';
