.read-more {
  &::after {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 0.35rem;
    margin-top: 0.35rem;
    border: 0.35rem solid transparent;
    border-left-color: inherit;
    content: '';
  }
}

.breadcrumb {
  margin: 0;
  list-style: none;
}

.breadcrumb-item {
  display: inline-block;
  &:not(:last-child)::after {
    display: inline-block;
    padding: 0 0.25rem 0 0.5rem;
    color: var(--gray);
    content: '/';
  }
  & a[aria-current="page"] {
    color: var(--text-color);
  }
}

.navbar ul {
  display: flex;
  margin: 0;
  list-style: none;
  background-color: var(--background-color);
  & li {
    & a {
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding: 0 1rem;
      color: var(--text-color);
      transition: background-color var(--speed) var(--easing);
      &:hover,
      &:focus,
      &:active {
        color: white;
        background-color: var(--color-primary);
      }
    }
  }
}

.icon-menu-toggle {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-color);
  vertical-align: middle;
  & .svg-menu-toggle .line {
    opacity: 1;
    transform: rotate(0) translateY(0) translateX(0);
    transition: transform var(--speed) var(--easing), opacity var(--speed) var(--easing);
  }
}
