/* wrapper div */
.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 0 var(--container-horizontal-padding);
  &.is-fluid {
    max-width: none;
  }
}

/* semantic elements */
article,
section,
nav {
  margin: 1rem 0;
}

/* horizontal rule */
hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  border: none;
  background-color: var(--border-color);
}

/* media/embeds */
figure,
img,
audio,
video,
canvas,
meter,
progress,
iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
