/* containers */

@define-mixin container {
  width: calc(100% - (var(--container-horizontal-gap, 2rem) * 2));
  max-width: calc(var(--max-container-width, 45rem) - (var(--container-horizontal-gap, 2rem) * 2));
  margin-right: auto;
  margin-left: auto;
}

@define-mixin is-fluid {
  max-width: none;
}

.container {
  @mixin container;
  &.is-fluid {
    @mixin is-fluid;
  }
}

/* html & body */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  min-width: 300px;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--html-background-color, white);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--body-background-color, white);
}

/* additional structural styles */

/*
IE10+ doesn't honor `<meta name="viewport">` in some cases
source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
@-ms-viewport {
  width: device-width;
}

/* fix display of HTML5 structural elements in older browsers */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* interactive elements */

/*
avoid 300ms click delay on touch devices that support the `touch-action` CSS property
source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

/*
suppress the focus outline on elements that cannot be accessed via keyboard
this prevents an unwanted focus outline from appearing around elements that might still respond to pointer events.
source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
[tabindex="-1"]:focus {
  outline: none !important;
}

/*
add correct display in IE
source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
template {
  display: none;
}
