/* responsive typography utility variables */
:root {
  --font-size-difference: calc(var(--unitless-max-font-size) - var(--unitless-min-font-size));
  --font-range-difference: calc(var(--unitless-upper-font-range) - var(--unitless-lower-font-range));
  --viewport-difference: calc(100vw - var(--lower-font-range));
}

html {
  /* font smoothing */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* base font family */
  font-family: var(--base-font-family);

  /* responsive base font size */
  font-size: calc(100% + var(--font-size-difference) * var(--viewport-difference) / var(--font-range-difference));

  /* base line height */
  line-height: var(--base-line-height);

  /* set upper font range limit */
  @media (--upper-font-range) {
    font-size: var(--max-font-size);
  }
}

/* heading line height */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: var(--heading-line-height);
}

/* heading sizes and spacing */
h1 {
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-5);
}

h6 {
  font-size: var(--font-size-6);
}

/* small font size */
small {
  font-size: var(--font-size-small);
}

/* block spacing */
p,
dl,
ol,
ul,
blockquote,
pre,
table {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

/* definition list styling */
dt {
  font-weight: var(--font-weight-bold);
}

/* list spacing */
ol,
ul {
  margin-left: 1em;
}

/* unordered list bullets */
ul {
  list-style: disc;
}

/* code formatting */
code,
kbd,
samp,
pre {
  font-family: var(--font-family-monospace);
  background-color: var(--background-color);
}

code,
kbd,
samp {
  padding: 0.25rem 0.5rem;
}

pre {
  padding: 1rem;
}
