:root {
  /* structural variables */

  /* container variables */
  --max-container-width: 80em;
  --container-horizontal-padding: 5vw;

  /* font variables - all sizing variables must have the same unit! (use em or px) */

  /* font family variables */
  --font-family-sans-serif: -apple-system, "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-family-serif: "Roboto Slab", serif;
  --font-family-monospace: "Roboto Mono", monospace;
  --base-font-family: var(--font-family-sans-serif);

  /*
  NOTE:
  currently variables are required twice, with and without units, in order to make calc() work
  eventually, this should use something like strip() to remove units in the calculation
   */

  /* base font size variables */
  --min-font-size: 1rem;
  --max-font-size: 1.15rem;
  --unitless-min-font-size: 1;
  --unitless-max-font-size: 1.15;

  /* viewport widths in rem when min/max font sizes will apply */
  --lower-font-range: 26rem;
  --upper-font-range: 80rem;
  --unitless-lower-font-range: 26;
  --unitless-upper-font-range: 80;

  /* base unitless line heights */
  --base-line-height: 1.4;
  --heading-line-height: 1.2;

  /* letter spacing variables */
  /* stylelint-disable-next-line length-zero-no-unit */
  --min-letter-spacing: 0rem;
  --max-letter-spacing: 0.005rem;
  --lower-letter-spacing-range: 26rem;
  --upper-letter-spacing-range: 80rem;

  /* font sizes */
  --font-size-1: 2.75rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.75rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-large: var(--font-size-4);
  --font-size-small: var(--font-size-6);

  /* font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* color variables */

  /*
  NOTE:
  currently, color() function requires actual color values, not custom properties
  eventually, this should use custom properties in color function to create additional values
   */

  /* gray palette */
  --gray-darkest: hsl(0, 0%, 5%);
  --gray-darker: hsl(0, 0%, 10%);
  --gray-dark: hsl(0, 0%, 25%);
  --gray: hsl(0, 0%, 50%);
  --gray-light: hsl(0, 0%, 75%);
  --gray-lighter: hsl(0, 0%, 90%);
  --gray-lightest: hsl(0, 0%, 95%);

  /* semantic palette */
  --color-primary: blue;
  --color-success: green;
  --color-warning: orange;
  --color-error: red;

  /* applied colors */
  --text-color: var(--gray-darker);
  --link-color: var(--color-primary);
  --link-hover-color: color(blue shade(50%)); /* eventually use custom property here */
  --link-active-color: color(blue shade(50%)); /* eventually use custom property here */
  --link-visited-color: color(blue tint(50%)); /* eventually use custom property here */
  --page-background-color: white;
  --background-color: var(--gray-lightest);
  --border-color: var(--gray-light);
  --mark-color: yellow;
  --disabled-color: var(--gray-light);

  /* border-radius */
  --border-radius: 4px;

  /* transition variables */
  --speed: 0.1s;
  --easing: ease-out;
}

/* custom media queries */
@custom-media --upper-font-range (width >= 80rem); /* eventually use custom property here */
