/* button styling */
$button-hover-color: darken($gray-lighter, 15%);

@mixin button {
  display: inline-block;
  width: auto;
  height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: $border-radius;
  outline: 0;
  color: $text-color;
  background-color: $gray-lighter;
  transition: background-color $speed $easing;
  cursor: pointer;
  @supports (display: inline-flex) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    color: $text-color;
    background-color: $button-hover-color;
  }
  &:focus {
    background-color: $gray-light;
  }
  &:visited {
    color: $text-color;
  }
  &:disabled,
  &:hover:disabled,
  &:visited:disabled {
    color: $disabled-color;
    background-color: $gray-lightest;
    cursor: not-allowed;
  }
}

button,
[role='button'],
input[type='submit'],
input[type='button'],
input[type='reset'] {
  @include button;
}
