/* general form styling */
fieldset {
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  & legend {
    margin-bottom: 1rem;
    font-weight: $font-weight-bold;
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: $font-weight-bold;
}

input,
select,
textarea {
  outline: 0;
}

/* text input styling */
input[type='text'],
input[type='password'],
input[type='url'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime-local'] {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.75rem;
  border: 1px solid $border-color;
  color: $text-color;
  &::placeholder {
    color: $gray;
  }
  &:focus {
    border: 1px solid $color-primary;
  }
  &:disabled {
    border-color: $gray-lighter;
    &:disabled {
      cursor: not-allowed;
    }
    &::placeholder {
      color: $disabled-color;
    }
  }
}

textarea {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem 0.75rem;
  border: 1px solid $border-color;
  color: $text-color;
  &::placeholder {
    color: $gray;
  }
  &:focus {
    border: 1px solid $color-primary;
  }
  &:disabled {
    border-color: $gray-lighter;
    &:disabled {
      cursor: not-allowed;
    }
    &::placeholder {
      color: $disabled-color;
    }
  }
}

/* select element styling */
select {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.75rem;
  border: 1px solid $border-color;
  color: $text-color;
  &:focus {
    border: 1px solid $color-primary;
  }
  &:disabled {
    cursor: not-allowed;
    & + .caret {
      border-top-color: $disabled-color;
    }
  }
}

.select {
  position: relative;
  & .caret {
    position: absolute;
    top: 3rem;
    right: 0.75rem;
    pointer-events: none;
    content: '';
  }
}

/* checkbox styling */
.checkbox {
  position: relative;
  & label {
    position: relative;
    padding: 0 2rem;
    font-weight: $font-weight-normal;
    cursor: pointer;
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: $gray-lighter;
      transition: background-color $speed $easing;
      content: '';
    }
  }
  & input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    &:focus + label::before {
      background-color: $gray-light;
    }
    &:checked + label::before {
      background-color: $color-primary;
    }
    &:checked + label::after {
      display: block;
      position: absolute;
      top: 3px;
      left: 8px;
      width: 8px;
      height: 14px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      content: '';
    }
    &:disabled + label {
      color: $disabled-color;
      cursor: not-allowed;
    }
    &:disabled + label::before {
      background-color: $gray-lightest;
    }
  }
}

/* radio button styling */
.radio {
  position: relative;
  & label {
    position: relative;
    padding: 0 2rem;
    font-weight: $font-weight-normal;
    cursor: pointer;
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $gray-lighter;
      transition: background-color $speed $easing;
      content: '';
    }
  }

  & input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus + label::before {
      background-color: $gray-light;
    }
    &:checked + label::before {
      background-color: $color-primary;
    }
    &:checked + label::after {
      display: block;
      position: absolute;
      top: 6px;
      left: 6px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: white;
      content: '';
    }
    &:disabled + label {
      color: $disabled-color;
      cursor: not-allowed;
    }
    &:disabled + label::before {
      background-color: $gray-lightest;
    }
  }
}

/* meter element styling – currently only works in Webkit browsers and Firefox */
meter {
  -webkit-appearance: meter;
  width: 100%;
  background: $gray-lighter;
  &::-webkit-meter-bar {
    background: $gray-lighter;
  }
  &::-moz-meter-bar {
    background: $gray-lighter;
  }
  &::-webkit-meter-optimum-value {
    background: $color-primary;
  }
  &:-moz-meter-optimum::-moz-meter-bar {
    background: $color-primary;
  }
}

/* progress element styling */
progress {
  &[value] {
    width: 100%;
    height: 1rem;
  }
  &::-webkit-progress-bar {
    background-color: $gray-lighter;
  }
  &::-webkit-progress-value {
    background-color: $color-primary;
  }
  &::-moz-progress-bar {
    background-color: $color-primary;
  }
}

/* range input styling */

/* range input utility variables */
$range-input-thumb-width: 24px;
$range-input-thumb-height: 24px;
$range-input-thumb-border-radius: 50%;
$range-input-thumb-background: $gray;
$range-input-track-width: 100%;
$range-input-track-height: 10px;
$range-input-track-background: $gray-lighter;
$range-input-track-focus-background: $gray-light;

input[type=range] {
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  width: $range-input-thumb-width;
  height: $range-input-thumb-height;
  margin-top: -7px;
  border-color: transparent;
  border-radius: $range-input-thumb-border-radius;
  background-color: $range-input-thumb-background;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: $range-input-track-focus-background;
}

input[type=range]::-moz-range-thumb {
  width: $range-input-thumb-width;
  height: $range-input-thumb-height;
  border-color: transparent;
  border-radius: $range-input-thumb-border-radius;
  background-color: $range-input-thumb-background;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  width: $range-input-thumb-width;
  height: $range-input-thumb-height;
  border-color: transparent;
  border-radius: $range-input-thumb-border-radius;
  background-color: $range-input-thumb-background;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: $range-input-track-width;
  height: $range-input-track-height;
  background-color: $range-input-track-background;
  transition: background-color $speed $easing;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: $range-input-track-width;
  height: $range-input-track-height;
  background-color: $range-input-track-background;
  transition: background-color $speed $easing;
  cursor: pointer;
}

input[type=range]:focus::-moz-range-track {
  background-color: $range-input-track-focus-background;
}

input[type=range]::-ms-track {
  width: $range-input-track-width;
  height: $range-input-track-height;
  border-width: $range-input-thumb-height;
  border-color: transparent;
  color: transparent;
  background-color: transparent;
  transition: background-color $speed $easing;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background-color: $range-input-track-background;
}

input[type=range]:focus::-ms-fill-lower {
  background-color: $range-input-track-focus-background;
}

input[type=range]::-ms-fill-upper {
  background-color: $range-input-track-background;
}

input[type=range]:focus::-ms-fill-upper {
  background-color: $range-input-track-focus-background;
}

/* file input styling */
input[type='file'] {
  @include visually-hidden;
}

input[type='file'] + label {
  @include button;
  font-weight: normal;
}

