/* container mixins */
@mixin container {
  max-width: $max-container-width;
  margin: 0 auto;
  padding: 0 $container-horizontal-padding;
}

@mixin is-fluid {
  max-width: none;
}

/* wrapper div */
.container {
  @include container;
  &.is-fluid {
    @include is-fluid;
  }
}

/* semantic elements */
article,
section,
nav {
  margin: 1rem 0;
}

/* horizontal rule */
hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  border: none;
  background-color: $border-color;
}

/* media/embeds */
figure,
img,
audio,
video,
canvas,
meter,
progress,
iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
