/* responsive typography utility variables */
$font-size-difference: calc(#{strip-unit($max-font-size)} - #{strip-unit($min-font-size)});
$font-range-difference: calc(#{strip-unit($upper-font-range)} - #{strip-unit($lower-font-range)});
$viewport-difference: calc(100vw - #{$lower-font-range});

html {
  /* font smoothing */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* base font family */
  font-family: $base-font-family;

  /* responsive base font size */
  font-size: calc(#{$min-font-size} + #{$font-size-difference} * #{$viewport-difference} / #{$font-range-difference});

  /* base line height */
  line-height: $base-line-height;

  /* set upper font range limit */
  @media (min-width: $upper-font-range) {
    font-size: $max-font-size;
  }
}

/* heading line height */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: $heading-line-height;
}

/* heading sizes and spacing */
h1 {
  font-size: $font-size-1;
}

h2 {
  font-size: $font-size-2;
}

h3 {
  font-size: $font-size-3;
}

h4 {
  font-size: $font-size-4;
}

h5 {
  font-size: $font-size-5;
}

h6 {
  font-size: $font-size-6;
}

/* small font size */
small {
  font-size: $font-size-small;
}

/* block spacing */
p,
dl,
ol,
ul,
blockquote,
pre,
table {
  margin-bottom: 1rem;
}

/* definition list styling */
dt {
  font-weight: $font-weight-bold;
}

/* list spacing */
ol,
ul {
  margin-left: 1em;
}

/* unordered list bullets */
ul {
  list-style: disc;
}

/* blockquote */
blockquote p {
  &::before {
    content: '\201c';
  }
  &::after {
    content: '\201d';
  }
}

/* code formatting */
code,
kbd,
samp,
pre {
  font-family: $font-family-monospace;
  background-color: $background-color;
}

code,
kbd,
samp {
  padding: 0.25rem 0.5rem;
}

pre {
  overflow: auto;
  padding: 1rem;
}
