/* function to strip units for calculations */
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

/*
visually hides elements but keeps them accessible to screen readers
 */
@mixin visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

/*
removes default styling from list
 */
@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  @include visually-hidden;
}

.list-unstyled {
  @include list-unstyled;
}

/*
class to add carets to selects and dropdowns
 */
.caret {
  display: block;
  width: 0;
  height: 0;
  border-top: 0.45rem solid $text-color;
  border-right: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
}
