/* structural variables */

/* container variables */
$max-container-width: 80rem !default;
$container-horizontal-padding: 5vw !default;

/* font family variables */
$font-family-sans-serif: -apple-system, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif: 'Roboto Slab', serif !default;
$font-family-monospace: 'Roboto Mono', monospace !default;
$base-font-family: $font-family-sans-serif !default;

/* font size variables in px */
$min-font-size: 16px !default;
$max-font-size: 20px !default;

/* viewport widths in px when min/max font sizes will apply */
$lower-font-range: 460px !default;
$upper-font-range: 1200px !default;

/* base unitless line heights */
$base-line-height: 1.4 !default;
$heading-line-height: 1.2 !default;

/* font sizes */
$font-size-1: 2.75rem !default;
$font-size-2: 2.25rem !default;
$font-size-3: 1.75rem !default;
$font-size-4: 1.5rem !default;
$font-size-5: 1rem !default;
$font-size-6: 0.875rem !default;
$font-size-base: $font-size-5 !default;
$font-size-large: $font-size-4 !default;
$font-size-small: $font-size-6 !default;

/* font weights */
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

/* color variables */

/* gray palette */
$gray-darkest: hsl(0, 0%, 5%) !default;
$gray-darker: hsl(0, 0%, 10%) !default;
$gray-dark: hsl(0, 0%, 25%) !default;
$gray: hsl(0, 0%, 50%) !default;
$gray-light: hsl(0, 0%, 75%) !default;
$gray-lighter: hsl(0, 0%, 90%) !default;
$gray-lightest: hsl(0, 0%, 95%) !default;

/* semantic palette */
$color-primary: #0032a0 !default;
$color-success: #4caf50 !default;
$color-warning: #ff5722 !default;
$color-error: #f44336 !default;

/* applied colors */
$text-color: $gray-dark !default;
$link-color: $color-primary !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-active-color: darken($link-color, 15%) !default;
$page-background-color: white !default;
$background-color: $gray-lightest !default;
$border-color: $gray-light !default;
$mark-color: #ffeb3b !default;
$disabled-color: $gray-light !default;

/* border-radius */
$border-radius: 4px !default;

/* transition variables */
$speed: 0.1s !default;
$easing: ease-out !default;
