.arrow {
  display: inline-block;
  width: 0;
  height: 0;

  &.up {
    border-right: 4px solid transparent;
    border-bottom: 6px solid var(--hiq-color-gray-5);
    border-left: 4px solid transparent;
  }

  &.down {
    border-top: 6px solid var(--hiq-color-gray-5);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  &.right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid var(--hiq-color-gray-5);
  }

  &.left {
    border-top: 4px solid transparent;
    border-right: 6px solid var(--hiq-color-gray-5);
    border-bottom: 4px solid transparent;
  }
}
