@import './sass-variables';

div[class*='language-'] {
  position: relative;
  margin: 1rem 0 2rem;

  &::before {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    z-index: 3;
    font-size: 0.75rem;
    color: var(--hiq-color-gray-5);
  }

  &:not(.line-numbers-mode) .line-numbers-wrapper {
    display: none;
  }

  &.line-numbers-mode {

    .highlight-lines .highlighted {
      position: relative;

      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: var(--line-numbers-wrapper-width);
        height: 100%;
        background-color: var(--hiq-color-gray-6);
        content: '';
      }
    }

    pre {
      padding-left: calc(var(--line-numbers-wrapper-width) + 1rem);
      vertical-align: middle;
    }

    .line-numbers-wrapper {
      position: absolute;
      top: 0;
      width: var(--line-numbers-wrapper-width);
      padding: 1.25rem 0;
      line-height: 1.4;
      text-align: center;
      color: var(--hiq-color-gray-5);

      br {
        user-select: none;
      }

      .line-number {
        position: relative;
        z-index: 4;
        font-size: 0.85em;
        user-select: none;
      }

      &::after {
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 2;
        width: var(--line-numbers-wrapper-width);
        height: calc(100% - 2px);
        border-right: 1px solid var(--hiq-color-gray-6);
        border-radius: 6px 0 0 6px;
        background-color: white;
        content: '';
      }
    }
  }

  .highlight-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1.3rem;
    line-height: 1.4;
    user-select: none;

    .highlighted {
      background-color: var(--hiq-color-gray-7);
    }
  }

  pre {
    @media (max-width: $mobileNarrow) {
      border-right: 0;
      border-left: 0;
      border-radius: 0;
    }
  }

  + div[class*='language-'] {
    @media (min-width: 420px) {
      margin-top: -1.25rem;
    }
  }
}

div[class~='language-js']::before,
div[class~='language-javascript']::before {
  content: 'js';
}

div[class~='language-ts']::before,
div[class~='language-typescript']::before {
  content: 'ts';
}

div[class~='language-html']::before,
div[class~='language-markup']::before {
  content: 'html';
}

div[class~='language-md']::before,
div[class~='language-markdown']::before {
  content: 'md';
}

div[class~='language-vue']::before {
  content: 'vue';
}

div[class~='language-css']::before {
  content: 'css';
}

div[class~='language-sass']::before {
  content: 'sass';
}

div[class~='language-scss']::before {
  content: 'scss';
}

div[class~='language-less']::before {
  content: 'less';
}

div[class~='language-stylus']::before {
  content: 'stylus';
}

div[class~='language-go']::before {
  content: 'go';
}

div[class~='language-java']::before {
  content: 'java';
}

div[class~='language-c']::before {
  content: 'c';
}

div[class~='language-json']::before {
  content: 'json';
}

div[class~='language-sh']::before,
div[class~='language-bash']::before {
  content: 'sh';
}

div[class~='language-yaml']::before {
  content: 'yaml';
}

div[class~='language-ruby']::before {
  content: 'rb';
}

div[class~='language-python']::before {
  content: 'py';
}
