@import './sass-variables';

.content__default {
  max-width: var(--hiq-max-container-width);
  margin: 0 auto;
  padding: 1rem 2.5rem 2rem;

  @media (max-width: $mobileNarrow) {
    padding: 1.5rem;
  }

  @media (max-width: $narrow) {
    padding: 2rem;
  }

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:active {
      text-decoration: underline;
    }
  }

  p.demo {
    padding: 1rem 1.5rem;
    border: 1px solid var(--hiq-color-gray-6);
    border-radius: 4px;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: calc(0.25rem - var(--navbar-height));
    padding-top: calc(var(--navbar-height) + 1rem);
  }

  > h2:first-child + p,
  > h2:first-child + pre,
  > h2:first-child + .custom-block,
  > h3:first-child + p,
  > h3:first-child + pre,
  > h3:first-child + .custom-block,
  > h4:first-child + p,
  > h4:first-child + pre,
  > h4:first-child + .custom-block,
  > h5:first-child + p,
  > h5:first-child + pre,
  > h5:first-child + .custom-block,
  > h6:first-child + p,
  > h6:first-child + pre,
  > h6:first-child + .custom-block {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
  }

  figure {
    margin: 2rem 0 3rem;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  ul,
  ol {
    padding-left: 1.2em;
  }

  table td {
    vertical-align: middle;
  }

  table p {
    margin-bottom: 0;
  }

  div[class*='language-'] {
    @media (max-width: $mobileNarrow) {
      margin: 0.85rem -1.5rem;
      border-radius: 0;
    }
  }
}

.theme-container.no-navbar .content__default {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 1.5rem;
    padding-top: 0;
  }
}

.content.custom {
  margin: 0;
  padding: 0;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -0.87em;
  padding-right: 0.23em;
  box-shadow: none !important;
  opacity: 0;
  font-size: 0.85em;
  text-decoration: none !important;
  color: var(--hiq-color-gray-5) !important;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}
