.custom-block {
  border-radius: var(--hiq-border-radius);

  &.tip,
  &.warning,
  &.danger {
    margin: 1.25rem 0;
    padding: 1.25rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
  }

  &.tip {
    border-color: var(--hiq-color-primary);
    background-color: hsla(210, 100%, 50%, 0.25);

    [data-theme='dark'] & {
      background-color: var(--hiq-color-gray-8);
      color: var(--hiq-color-gray-4);
    }

    code {
      background-color: hsla(210, 100%, 50%, 0.15);
    }
  }

  &.warning {
    border-color: var(--hiq-color-warning);
    background-color: hsla(46, 97%, 65%, 0.25);
    color: hsl(46, 97%, 25%);

    [data-theme='dark'] & {
      background-color: var(--hiq-color-gray-8);
      color: var(--hiq-color-gray-4);
    }

    .custom-block-title {
      color: hsl(46, 97%, 40%);
    }

    a {
      color: var(--hiq-text-color);
    }
  }

  &.danger {
    border-color: var(--hiq-color-danger);
    background-color: hsla(352, 95%, 61%, 0.25);;
    color: hsl(352, 95%, 25%);

    [data-theme='dark'] & {
      background-color: var(--hiq-color-gray-8);
      color: var(--hiq-color-gray-4);
    }

    .custom-block-title {
      color: hsl(352, 95%, 40%);
    }

    a {
      color: var(--hiq-text-color);
    }
  }

  p {
    margin-bottom: 0;
  }
}

.custom-block-title {
  margin-bottom: 0.25rem;
  font-weight: var(--hiq-font-weight-medium);
}
