body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.js-focus-visible *:focus:not(.focus-visible) {
  outline: none;
}

h1 {
  font-weight: var(--hiq-font-weight-light);
}

h2 {
  font-size: var(--hiq-font-size-3);
  font-weight: var(--hiq-font-weight-semibold);
}

h3 {
  font-size: var(--hiq-font-size-4);
}

p a code {
  font-weight: var(--hiq-font-weight-normal);
  color: var(--hiq-color-primary);
}

.wrapper {
  max-width: var(--hiq-max-container-width);
  margin: 0 auto;
  padding: 0.5rem 2.5rem;

  @media (max-width: 959px) {
    padding: 2rem;
  }
  @media (max-width: 419px) {
    padding: 1.5rem;
  }
}

.table-of-contents .badge {
  vertical-align: middle;
}

.custom-layout {
  padding-top: var(--navbar-height);
}

.theme-container.no-navbar .custom-layout {
  padding-top: 0;
}

.properties-table {
  margin: 1.5rem 0 2rem;
}

.color-swatch {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--hiq-color-gray-6);
}

.input-table code {
  white-space: pre-wrap;
}

.input-table input {
  max-width: 100%;
}

dialog p {
  margin-bottom: 1rem;
}

@supports (color: var(--hiq-color-primary)) {

  .browser-not-supported {
    display: none;
  }
}

@media (max-width: 959px) {

  .properties-table .name,
  .utilities-table .name {
    width: 40%;
  }

  .properties-table .name code,
  .utilities-table .name code {
    white-space: unset;
  }
}
