body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: var(--hiq-font-weight-light);
}

h3 {
  font-weight: var(--hiq-font-weight-bold);
}

p a code {
  font-weight: var(--hiq-font-weight-normal);
  color: var(--hiq-color-primary);
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  border-left: .25rem solid var(--hiq-gray-lighter);
  font-size: var(--hiq-font-size-large);
  color: var(--hiq-gray-light);
}

ul,
ol {
  padding-left: 1.2em;
}

.wrapper {
  max-width: var(--hiq-max-container-width);
  margin: 0 auto;
  padding: 2rem 2.5rem;
  @media (max-width: 959px) {
    padding: 2rem;
  }
  @media (max-width: 419px) {
    padding: 1.5rem;
  }
}

.table-of-contents .badge {
  vertical-align: middle;
}

.custom-layout {
  padding-top: var(--navbar-height);
}

.theme-container.no-navbar .custom-layout {
  padding-top: 0;
}
