body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: var(--hiq-font-weight-light);
}

h2 {
  font-size: var(--hiq-font-size-3);
  font-weight: var(--hiq-font-weight-semibold);
}

h3 {
  font-size: var(--hiq-font-size-4);
}

p a code {
  font-weight: var(--hiq-font-weight-normal);
  color: var(--hiq-color-primary);
}

.wrapper {
  max-width: var(--hiq-max-container-width);
  margin: 0 auto;
  padding: 0.5rem 2.5rem;
  @media (max-width: 959px) {
    padding: 2rem;
  }
  @media (max-width: 419px) {
    padding: 1.5rem;
  }
}

.table-of-contents .badge {
  vertical-align: middle;
}

.custom-layout {
  padding-top: var(--navbar-height);
}

.theme-container.no-navbar .custom-layout {
  padding-top: 0;
}
