:root {
  --pink: #f95faa;
  --lavender: #9b80ff;
  --dark-blue: #2f6f9f;
  --light-blue: #6d94ec;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--hiq-gray-light);
}

.token.punctuation {
  color: var(--hiq-gray-light);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: var(--light-blue);
}

.token.function-name {
  color: var(--pink);
}

.token.boolean,
.token.number,
.token.function {
  color: var(--pink);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--pink);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--lavender);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--hiq-color-primary);
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}




/*
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--hiq-gray-light);
}

.token.punctuation {
  color: var(--hiq-gray-light);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: var(--dark-blue);
}

.token.function-name {
  color: var(--pink);
}

.token.boolean,
.token.number {
  color: var(--pink);
}

.token.function {
  color: var(--hiq-pre-text-color);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--hiq-color-primary);
}

.token.selector,
.token.important,
.token.keyword,
.token.builtin {
  color: var(--dark-blue);
}

.token.rule {
  color: var(--hiq-color-primary);
}

.token.string,
.token.char {
  color: var(--lavender);
}

.token.attr-value,
.token.regex,
.token.variable {
  color: var(--lavender);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--lavender);
}

.token.important,
.token.bold {
  font-weight: var(--hiq-font-weight-semibold);
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: var(--pink);
}
*/
