/* color inputs */

input[type='color'] {
  cursor: pointer;

  &:focus {
    outline: var(--hiq-outline-color, hsl(210, 100%, 85%)) solid var(--hiq-outline-width, 0.2rem);
  }

  &:disabled,
  &[aria-disabled] {
    cursor: not-allowed;
  }
}
