/* textareas */

textarea {
  @mixin input;
  display: block;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 0;
  padding: var(--hiq-textarea-padding-vertical, 0.5rem) var(--hiq-textarea-padding-horizontal, 0.75rem);
  resize: vertical;
}
