<nav class="navbar">
    <div class="container is-fluid">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/img/hiq-logo.svg" alt="hiq" class="logo">
        </a>
        <nav>
            {%- assign page_slug = page.url | split: '/' | last -%}
            {%- for group in site.data.nav -%}
                {%- assign link = group.pages | first -%}
                {%- assign link_slug = link.title | slugify -%}
                {%- assign group_slug = group.title | slugify -%}
                {%- assign active = nil -%}

                {%- if page.group == group_slug -%}
                    {%- assign active = 'active' -%}
                {%- endif -%}
                    <a {% unless active == nil %}class="{{ active }}"{% endunless %} href="{{ site.baseurl }}/{{ group_slug }}/{{ link_slug }}{% if link_slug %}/{% endif %}">
                        {{ group.title }}
                    </a>
            {%- endfor -%}
        </nav>
        <a href="https://github.com/jonathanharrell/hiq" class="github-link">
            {% include icons/github.svg %}
        </a>
        <span class="version-number">2.0</span>
        <div class="search">
            <input type="text" id="search-input" placeholder="Search..." />
        </div>
    </div>
</nav>
