<aside class="sidebar">
    <nav class="toc">
        <div class="toc-wrapper">
            {%- assign page_slug = page.url | split: '/' | last -%}
            {%- for group in site.data.nav -%}
                {%- assign link = group.pages | first -%}
                {%- assign link_slug = link.title | slugify -%}
                {%- assign group_slug = group.title | slugify -%}
                {%- assign active = nil -%}

                {%- if page.group == group_slug -%}
                <ul class="page-nav">
                    {%- for doc in group.pages -%}
                        {%- assign doc_slug = doc.title | slugify -%}
                        {%- assign active = nil -%}

                        {%- if page.group == group_slug and page_slug == doc_slug -%}
                            {%- assign active = 'active bd-sidenav-active' -%}
                        {%- endif -%}

                        <li class="toc-entry toc-h1 {% unless active == nil %}active{% endunless %}">
                            <a href="{{ site.baseurl }}/{{ group_slug }}/{{ doc_slug }}/">
                                {{ doc.title }}
                            </a>

                            {%- if page.group == group_slug and page_slug == doc_slug -%}
                                {{ content | toc_only }}
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </nav>
</aside>
<button class="mobile-toc-toggle" id="mobile-toc-toggle">
    <span>+</span>
</button>
