@custom-media --desktop (min-width: 800px);

:root {
  /* hiq variables */
  --hiq-max-container-width: 60rem;
  --hiq-container-horizontal-gap: 1.5rem;
  --hiq-color-primary: hsl(210, 100%, 50%);
  --hiq-gray: hsl(220, 10%, 40%);
  --hiq-gray-light: hsl(220, 10%, 60%);
  --hiq-gray-lighter: hsl(220, 10%, 90%);
  --hiq-gray-lightest: hsl(220, 10%, 95%);

  /* docs variables */
  --navbar-height: 3.75rem;
}
