:root {
  /* ====================
     structural variables
     ==================== */

  /* container variables */
  --max-container-width: 45rem;
  --container-horizontal-padding: 3rem;

  /* spacing variables */
  --block-element-margin-vertical: 1rem;
  --block-semantic-element-margin-vertical: 1rem;
  --heading-margin-bottom: 1rem;

  /* border-radius */
  --border-radius: 4px;

  /* ====================
     typography variables
     ==================== */

  /* font families */
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-family-serif: Georgia, 'Times New Roman', Times, serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
  --base-font-family: var(--font-family-sans-serif);

  /* unitless base font size variables in px */
  --unitless-min-font-size: 15;
  --unitless-max-font-size: 18;

  /* unitless viewport widths in px when min/max font sizes will apply */
  --unitless-lower-font-range: 460;
  --unitless-upper-font-range: 1200;

  /* should match --unitless-upper-font-range with px unit */
  @custom-media --lower-font-range (width < 460px);
  @custom-media --upper-font-range (width >= 1200px);

  /* base unitless line heights */
  --base-line-height: 1.4;
  --heading-line-height: 1.2;

  /* font sizes */
  --font-size-1: 2.25rem;
  --font-size-2: 1.75rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-base: var(--font-size-5);
  --font-size-large: var(--font-size-4);
  --font-size-small: var(--font-size-6);

  /* font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* letter spacing */
  --letter-spacing-base: -0.025em;

  /* applied font weights */
  --font-weight-base: var(--font-weight-normal);
  --heading-font-weight: var(--font-weight-medium);
  --strong-font-weight: var(--font-weight-semibold);
  --bold-font-weight: var(--font-weight-semibold);
  --definition-list-title-font-weight: var(--font-weight-semibold);
  --input-font-weight: var(--font-weight-normal);

  /* list variables */
  --list-margin-left: 1rem;
  --unordered-list-style: disc;

  /* ====================
     color variables
     ==================== */

  /* gray palette */
  --gray-darkest: hsl(0, 0%, 5%);
  --gray-darker: hsl(0, 0%, 10%);
  --gray-dark: hsl(0, 0%, 25%);
  --gray: hsl(0, 0%, 50%);
  --gray-light: hsl(0, 0%, 75%);
  --gray-lighter: hsl(0, 0%, 90%);
  --gray-lightest: hsl(0, 0%, 98%);

  /* semantic palette */
  --color-primary: #3f2ab1;
  --color-success: #3f2ab1;
  --color-warning: #ffca28;
  --color-error: #d32f2f;

  /* applied colors */
  --text-color: var(--gray-darker);
  --html-background-color: white;
  --body-background-color: white;
  --background-color: var(--gray-lightest);
  --border-color: var(--gray-lighter);
  --mark-color: color(#3f2ab1 tint(75%));
  --selection-color: color(#3f2ab1 tint(85%));
  --deleted-color: var(--color-error);
  --inserted-color: color(#3f2ab1 tint(75%));
  --disabled-color: var(--gray-light);

  /* ====================
     transition variables
     ==================== */

  --speed: 0.1s;
  --easing: ease-out;

  /* ====================
     link variables
     ==================== */

  --link-color: var(--color-primary);
  --link-hover-color: color(#3f2ab1 shade(50%));
  --link-focus-color: color(#3f2ab1 shade(50%));
  --link-active-color: color(#3f2ab1 shade(50%));
  --link-text-decoration: none;

  /* ====================
     button variables
     ==================== */

  --button-height: 2.25rem;
  --button-vertical-padding: 0;
  --button-horizontal-padding: 0.75rem;
  --button-border-width: 1px;
  --button-border-radius: var(--border-radius);
  --button-font-weight: var(--font-weight-medium);

  /* static colors */
  --button-border-color: var(--color-primary);
  --button-text-color: white;
  --button-background-color: var(--color-primary);

  /* hover colors */
  --button-hover-border-color: transparent;
  --button-hover-text-color: white;
  --button-hover-background-color: color(#3f2ab1 shade(50%));

  /* focus colors */
  --button-focus-border-color: transparent;
  --button-focus-text-color: white;
  --button-focus-background-color: color(#3f2ab1 shade(50%));

  /* active colors */
  --button-active-border-color: transparent;
  --button-active-text-color: white;
  --button-active-background-color: color(#3f2ab1 shade(50%));

  /* disabled colors */
  --button-disabled-border-color: transparent;
  --button-disabled-text-color: var(--disabled-color);
  --button-disabled-background-color: var(--gray-lightest);

  /* ====================
     table variables
     ==================== */

  --table-width: 100%;
  --table-caption-margin-bottom: 1rem;
  --table-caption-font-weight: var(--font-weight-semibold);
  --table-cell-padding-vertical: 0.5rem;
  --table-cell-padding-horizontal: 0.75rem;
  --table-cell-border-width: 1px;
  --table-cell-border-color: var(--border-color);
  --table-heading-font-weight: var(--font-weight-semibold);

  /* ====================
     form variables
     ==================== */

  /* fieldsets */
  --fieldset-margin-vertical: 1rem;
  --fieldset-padding-vertical: 0;
  --fieldset-padding-horizontal: 0;
  --fieldset-border-width: 0;
  --fieldset-border-color: transparent;

  /* legends */
  --legend-margin-bottom: 1rem;
  --legend-font-weight: var(--font-weight-semibold);

  /* labels */
  --label-margin-bottom: 0.5rem;
  --label-font-weight: var(--font-weight-semibold);

  /* text inputs */
  --input-display: block;
  --input-width: 100%;
  --input-height: 2.5rem;
  --input-padding-vertical: 0;
  --input-padding-horizontal: 0.75rem;
  --input-border-width: 1px;
  --input-border-radius: var(--border-radius);

  /* static input colors */
  --input-border-color: var(--gray-lighter);
  --input-text-color: var(--text-color);
  --input-placeholder-color: var(--gray);
  --input-background-color: var(--gray-lighter);

  /* hover input colors */
  --input-hover-border-color: var(--input-border-color);
  --input-hover-text-color: var(--input-text-color);
  --input-hover-placeholder-color: var(--input-placeholder-color);
  --input-hover-background-color: var(--input-background-color);

  /* focus input colors */
  --input-focus-border-color: var(--color-primary);
  --input-focus-text-color: var(--color-primary);
  --input-focus-placeholder-color: var(--input-placeholder-color);
  --input-focus-background-color: var(--input-background-color);

  /* disabled input colors */
  --input-disabled-border-color: var(--gray-lightest);
  --input-disabled-text-color: var(--gray-light);
  --input-disabled-placeholder-color: var(--gray-light);
  --input-disabled-background-color: var(--gray-lightest);

  /* textareas */
  --textarea-display: block;
  --textarea-width: 100%;
  --textarea-height: auto;
  --textarea-padding-vertical: 0.5rem;
  --textarea-padding-horizontal: 0.75rem;

  /* selects */
  --select-background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2230px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2030%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-137.000000%2C%20-145.000000%29%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%22152%20161%20137%20145%20167%20145%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
  --select-background-position: right 1rem center;
  --select-background-size: 0.75rem;

  /* checkboxes */
  --checkbox-label-padding-horizontal: 2rem;
  --checkbox-label-font-weight: var(--font-weight-normal);
  --checkbox-label-disabled-color: var(--disabled-color);
  --checkbox-width: 24px;
  --checkbox-height: 24px;
  --checkbox-background-color: var(--gray-lighter);
  --checkbox-hover-background-color: var(--gray-light);
  --checkbox-focus-background-color: var(--gray-light);
  --checkbox-checked-background-color: var(--color-primary);
  --checkbox-disabled-background-color: var(--gray-lightest);
  --checkbox-check-position-top: 3px;
  --checkbox-check-position-left: 8px;
  --checkbox-check-width: 8px;
  --checkbox-check-height: 14px;
  --checkbox-border-width: 2px;

  /* radio buttons */
  --radio-label-padding-horizontal: 2rem;
  --radio-label-font-weight: var(--font-weight-normal);
  --radio-label-disabled-color: var(--disabled-color);
  --radio-width: 24px;
  --radio-height: 24px;
  --radio-border-radius: 50%;
  --radio-background-color: var(--gray-lighter);
  --radio-hover-background-color: var(--gray-light);
  --radio-focus-background-color: var(--gray-light);
  --radio-checked-background-color: var(--color-primary);
  --radio-disabled-background-color: var(--gray-lightest);
  --radio-check-position-top: 6px;
  --radio-check-position-left: 6px;
  --radio-check-width: 12px;
  --radio-check-height: 12px;
  --radio-check-border-radius: 50%;
  --radio-check-background-color: white;

  /* meter */
  --meter-width: 100%;
  --meter-background-color: var(--gray-lighter);
  --meter-filled-color: var(--color-primary);

  /* progress */
  --progress-width: 100%;
  --progress-height: 1rem;
  --progress-background-color: var(--gray-lighter);
  --progress-filled-color: var(--color-primary);

  /* range input */
  --range-input-width: 100%;
  --range-input-thumb-width: 24px;
  --range-input-thumb-height: 24px;
  --range-input-thumb-border-radius: 50%;
  --range-input-thumb-background: var(--color-primary);
  --range-input-track-height: 10px;
  --range-input-track-background: var(--gray-lighter);
  --range-input-track-focus-background: var(--gray-lighter);

  /* color input */
  --color-input-width: 2.5rem;
  --color-border-radius: 0;

  /* ====================
     horizontal rule variables
     ==================== */

  --horizontal-rule-height: 1px;
  --horizontal-rule-margin-vertical: 1rem;
  --horizontal-rule-color: var(--color-primary);

  /* ====================
     media/embeds variables
     ==================== */

  --media-width: 100%;
  --media-margin-vertical: 1rem;

  /* ====================
     code variables
     ==================== */

  --code-font-size: var(--font-size-small);
  --code-text-color: var(--color-primary);
  --code-background-color: #f2f0f9;
  --inline-code-padding-vertical: 0.25rem;
  --inline-code-padding-horizontal: 0.5rem;
  --block-code-padding-vertical: 1rem;
  --block-code-padding-horizontal: 1rem;
  --block-code-border-radius: var(--border-radius);
}
