/* semantic elements */

/* fix display of HTML5 structural elements in older browsers */
@custom-selector :--semantic-element
  article,
  aside,
  dialog,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section;

:--semantic-element {
  display: block;
}
