@import '../../dist/hiq.css';
@import 'variables.pcss';
@import 'navbar.pcss';
@import 'search.pcss';
@import 'footer.pcss';
@import 'home.pcss';
@import 'sidebar.pcss';
@import 'main-content.pcss';
@import 'doc-content.pcss';
@import 'code.pcss';
@import 'syntax.pcss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
