/* block elements */

/* paragraph spacing */
p {
  margin: 0 0 var(--hiq-block-element-margin-bottom, 1rem);
  padding: 0;
}

/* address spacing */
address {
  margin-bottom: var(--hiq-block-element-margin-bottom, 1rem);
  font-style: normal;
  line-height: inherit;
}
