<!doctype html>
<html lang="en">
    <head>
        {% include header.html %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/build/docs.css">
    </head>
    <body>
        {% include navbar.html %}
        <main class="main-content">
            <div class="container">
                <div class="main-content-wrapper">
                    <div class="home-content">
                        <header class="home-header">
                            <img src="{{ site.baseurl }}/assets/img/hiq-logo.svg" alt="hiq" class="logo">
                            <h1>{{ page.title }}</h1>
                            <p>Jump-start your styling with a lightweight, easily customizable framework that is built with CSS custom properties and modern best practices.</p>
                            <a href="{{ site.baseurl }}/guide/getting-started" role="button">Get started</a>
                        </header>
                        <section>
                            <figure>
                                <img src="{{ site.baseurl }}/assets/img/what-you-need.svg">
                            </figure>
                            <div class="text">
                                <h2>Just what you need</h2>
                                <p>In the age of Flexbox, CSS grid, and other exciting layout features, there is less and less need for a bloated CSS framework. What you do need is a simple foundation on top of which to build your own styles. Enter HiQ.</p>
                                <a href="{{ site.baseurl }}/guide/getting-started" role="button">Read the guide</a>
                            </div>
                        </section>
                        <section>
                            <figure>
                                <img src="{{ site.baseurl }}/assets/img/easy-theming.svg">
                            </figure>
                            <div class="text">
                                <h2>Easy theming</h2>
                                <p>Drop HiQ into your project, alter some CSS variables, and you're ready to go. Let HiQ take care of basic button, input and other element styling so you can focus on what's important.</p>
                                <a href="{{ site.baseurl }}/guide/getting-started/#theming" role="button">Learn about theming</a>
                            </div>
                        </section>
                        <section>
                            <figure>
                                <img src="{{ site.baseurl }}/assets/img/built-progressively.svg">
                            </figure>
                            <div class="text">
                                <h2>Built progressively</h2>
                                <p>HiQ is built using PostCSS and takes advantage of exciting new CSS features, like custom properties. If you use the source version, you can use custom selectors and mixins to make styling even easier.</p>
                                <a href="{{ site.baseurl }}/reference/custom-properties" role="button">See the reference</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}
        <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
        <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/doc-search.js"></script>
    </body>
</html>
