/* color inputs */

input[type='color'] {
  cursor: pointer;
  &:focus {
    box-shadow: 0 0 0 var(--hiq-outline-width, 0.2rem) var(--hiq-outline-color, hsl(210, 100%, 85%));
    outline: 0;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
