/* temporal inputs */

/*
remove the default appearance of temporal inputs to avoid a Mobile Safari bug where setting a custom line-height prevents text from being vertically
source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
see https://bugs.webkit.org/show_bug.cgi?id=139848
*/
@custom-selector :--temporal-input
  input[type='date'],
  input[type='time'],
  input[type='month'],
  input[type='week'],
  input[type='datetime-local'];

:--temporal-input {
  -webkit-appearance: listbox;
}
