/* textareas */

textarea {
  /* scoped properties */
  --textarea-padding-vertical: var(--hiq-textarea-padding-vertical, 0.5rem);
  --textarea-padding-horizontal: var(--hiq-textarea-padding-horizontal, 0.75rem);

  @mixin input;

  display: block;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 0;
  padding: var(--textarea-padding-vertical) var(--textarea-padding-horizontal);
  resize: vertical;
}
