/* reset */
@import 'blanq-slate/blanq-slate.css';

/* custom properties */
@import 'variables.pcss';

/* utility classes */
@import 'utility.pcss';

/* base styles */
@import 'structure.pcss';
@import 'typography.pcss';
@import 'color.pcss';

/* element styles */
@import 'buttons.pcss';
@import 'tables.pcss';
@import 'forms.pcss';
